.fieldContainer {
    margin: 30px auto;
}

.button {
    background-color: #d31a1a;
    color: white;
    padding: 10px 15px;
    border: none;
    margin: 10px auto;
}

.button:hover:not([disabled]) {
    background-color: #c10a0a;
    cursor: pointer;
}

.button:active {
    -webkit-box-shadow: inset 1px 1px 10px #333;
    -moz-box-shadow: inset 1px 1px 10px #333;
    box-shadow: inset 1px 1px 10px #333;
}

:disabled:hover {
    cursor: not-allowed;
}
